@import "../style/variables.scss";

.sidebar {
  padding: 1rem;
  background: linear-gradient(220deg, $shade-2, rgba($shade-2, 0.02));
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  h1,
  h2,
  h3,
  h4 {
    margin-bottom: 1rem;
  }

  ul li {
    list-style: none;
    margin-bottom: 1rem;
    padding: 0 1rem;
    cursor: pointer;
  }

  &_items {
    &_categories {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0.5rem 1rem;
      background: linear-gradient(220deg, $primary-2, rgba($primary-2, 0.7));
      border-radius: $borderRadius calc(#{$borderRadius} * 5);
    }
    &_subtitle {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0.5rem 2rem;
      background: linear-gradient(220deg, $primary-3, rgba($primary-3, 0.7));
      border-radius: $borderRadius calc(#{$borderRadius} * 5);
    }
  }
}
